# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs #
.vscode
.idea

# Distribution / packaging
.Python
env/
build/
media
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Swap files
*.swp

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Flask stuff:
instance/.webassets-cache

# PyBuilder
target/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv: ignore environment folder ending with env. e.g. env, venv, myenv, fusionenv, etc
*env/

# Rope project settings
.ropeproject

# VSCode Settings
#.vscode/settings.json

# Node Modules
node_modules/

FusionIIIT/static/
package-lock.json


.DS_Store
**/generated.pdf
.venv311/lib64
docker-entrypoint.sh
docker-compose.yml
requirements.txt
.venv311/bin/activate
requirements.txt
.venv311/pyvenv.cfg
.venv311/bin/Activate.ps1
docker-compose.yml

docker-compose.yml
docker-entrypoint.sh
requirements.txt
.venv311/bin/celery
.venv311/bin/django-admin
.venv311/bin/activate.csh
.venv311/bin/alembic
.venv311/bin/django-admin.py
.venv311/bin/f2py
requirements.txt
.venv311/bin/flask
.venv311/bin/ipython3
.venv311/bin/google-oauthlib-tool
.venv311/bin/activate.fish
.venv311/bin/email_validator
.venv311/bin/ipython
.venv311/bin/jp.py
.gitignore
.venv311/bin/python
.venv311/bin/python3
.venv311/bin/python3.11
.venv311/bin/qr
.venv311/bin/runxlrd.py
.venv311/bin/sqlformat
.venv311/bin/sshtunnel
.venv311/bin/svg2pdf
.venv311/bin/typer
.venv311/bin/vba_extract.py
.venv311/bin/wheel
.gitignore
requirements.txt
.venv311/bin/jsonschema
.venv311/bin/keyring
.venv311/bin/mako-render
.venv311/bin/markdown-it
.venv311/bin/numpy-config
.venv311/bin/normalizer
.venv311/bin/markdown2
.venv311/bin/pgadmin4-cli
.venv311/bin/pgadmin4
.venv311/bin/pip
.venv311/bin/pip3
.venv311/bin/pisa
.venv311/bin/pip3.11
.venv311/bin/pybidi
.venv311/bin/pybabel
.venv311/bin/pygmentize
.venv311/bin/xhtml2pdf
.venv311/include/site/python3.11/greenlet/greenlet.h
.venv311/share/man/man1/ipython.1
.venv311/testing/tox.ini
.venv311/share/man/man1/svg2pdf.1
.gitignore
requirements.txt
